.content {
  width: 1024px;
  padding-top: 100px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  height: 50vh;
  text-align: center;
  line-height: 499%;
}

.wrapper {
  background-image: url(./assets/img/Photoshop_jumping_mountains_forest-190.jpg);
  background-repeat: round;
  background-size: cover;
  height: 370px;
}

h1 {
  color: #e3e2de;
  font-size: 5vh;
}

h2 {
  color: white;
  font-size: 10vh;
}

h5 {
  font-size: 5vh;
  color: #e3e2de;
}
